body {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

#wrap {
  padding: 40px 0;
  max-width: 450px;
  margin: 0 auto;
}

h1#title {
  background: url('/images/green_bear_small.png') 0 -7 no-repeat;
  padding-left: 50px;
}

#wrap #menu {
  
}

#wrap img {
  max-width: 100%;
  height: auto;
}
