body {
  font-family: Consolas, Monaco, monospace;
  font-size: 14px;
  margin: 0 10px;
}

#wrap {
  padding: 30px 0;
  max-width: 29em;
  margin: 0 auto;
}

h1#title {
  background: url('/images/green_bear_small.png') 0 -7px no-repeat;
  padding-left: 50px;
}

#wrap ul {
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

#wrap img {
  max-width: 100%;
  height: auto;
}

@media all and (min-width:0px) and (max-width: 320px) {
  #wrap {
    padding: 0;
  }
}


