<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{site.name}} - {{ page.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="{{site.name}}">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/bjornarneson" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Use this domain as an openid -->
  <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" > 
  <link rel="openid2.local_id" href="http://www.google.com/profiles/bjornarneson" >
  <link rel="openid.server" href="https://www.google.com/accounts/o8/ud?source=profiles" > 
  <link rel="openid.delegate" href="http://www.google.com/profiles/bjornarneson" >

  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png">

</head>
<body>

<div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{site.name}}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/"><i class="icon-home icon-fixed-width"></i> Home</a></li>
              <li><a href="/about"><i class="icon-user icon-fixed-width"></i> About</a></li>
              <li><a href="/archives"><i class="icon-archive icon-fixed-width"></i> Archives</a></li>
			<!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
			  -->
            </ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://github.com/bjornarneson"><i class="icon-github icon-fixed-width"></i> github</a></li>
				<li><a href="https://twitter.com/bjornarneson"><i class="icon-twitter icon-fixed-width"></i> twitter</a></li>
			</ul>
		  
          </div><!--/.nav-collapse -->
        </div>
      </div>
	  
	  

	<div class="container" style="padding-top: 60px;">
	
	{{ content }}		

	</div>
</div>
    
	<div id="footer">
      <div class="container">
		<div class="credits">
			Made by hand with Bootstrap and Jekyll.
		</div>
      </div>
    </div>
	

<!-- jquery from Google CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="/scripts/main.js" type="text/javascript"></script>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100768386); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100768386ns.gif" /></p></noscript>

</body>
</html>
