---
layout: default
---

<div class="post-head group">
  <h2 class="post-title">{{ page.title }}</h2>
  <h3 class="post-date">{{ page.date | date: "%b %d, %Y" }}</h3>
</div>

<div class="post-body">
  {{ content }}

   {% if page.tags %} 
   <p> Tagged: {{ page.tags | array_to_sentence_string }}. </p>
    {% endif %}

    {% if page.external-url %} 
    	{% assign url = page.external-url | split: '/' %}
    	<p>Quoted from: <a href="{{ page.external-url }}">{{ url[2] }}</a>. </p>
    {% endif %}
	
</div>

<aside class="related">
    <h3>(Possibly) Related Posts</h3>
    <ul class="posts">
      {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
</aside>
